
*.DS_Store
*__pycache__*
.vscode
gat.py
dummyset.py
great/dataset/data/**/*.txt
great/dataset/data/**/*.pt
great/dataset/data/ALL_atsp/*
great/dataset/data/ALL_tsp/*
great/dataset/data/ALL_VRP/*
great/dataset/data/ALL_OP/*
models/*.ckpt
outputs/
testing.py
models/*
tsp.py
zero_shot_gen_RL.py
tsp_EUC.py
great/utils/tmp/*
